*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .game-container, .canvas-container {
	width: 100%;
	height: 100%;

	margin: 0;
	border: 0;
	padding: 0;
}

.game-container a {
	transition-property: all;
	transition-duration: 0.2s;

	color: inherit;
	text-decoration: underline;
}

.game-container a:hover {
	color: rgb(200, 200, 255);
	text-decoration: underline;
}

.game-container {
	position: absolute;

	font-family: Arial, sans-serif;
	font-size: 16px;

	background-color: #000;

	color: #fff;

	transition-property: background-color;
	transition-duration: 1s;

	overflow: hidden;
}

.canvas-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-canvas {
	background-color: #000;

	transition-property: background-color, transform;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.menu {
	position: absolute;
	width: 100%;

	overflow: auto;

	/*background-color: rgba(80, 100, 255, 0.7);*/
	/* ^ Old value that assumes transparency over white background */
	background-color: rgba(130, 160, 255, 0.7);
	/* ^ New value assumes transparency over black background */

	top: -100%;
	bottom: 100%;
	transition-property: top, bottom;
	transition-timing-function: ease-out;
	transition-duration: 2s;

	border-bottom: 10px solid #304070;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu > * {
	margin: 8px 0 8px 0;
}

.about-info {
	max-width: 500px;
}

.info-paragraph {
	padding: 0 10px 0 10px;
}

.main-name {
	margin-top: 10vh;
	margin-bottom: 10vh;
	font-size: 20vh;
}

.button-bar .main-button {
	font-size: 10vh;

	background-color: rgba(0, 0, 0, 0.2);
}

.button-bar .main-button:hover {
	padding: 2px;
	border-width: 4px;

	background-color: rgba(0, 0, 0, 0.4);
}

.button-bar button {
	transition-property: all;
	transition-duration: 0.2s;

	font-size: 14px;

	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid white;
	padding: 8px;
	color: inherit;
}

.button-bar button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.score-list, .info-list {
	padding-left: 0;
	padding-right: 0;

	list-style-type: none;
}

.score-list {
	text-align: center;
}

.info-list > li {
	margin: 2px 0 2px 0;
}

/* ////////////////////////////// */

@media (max-height: 300px) {
	.game-container {
		font-size: 10px;
	}

	.menu:not(.js-main-menu) > * {
		margin: 2px 0 2px 0;
	}

	.button-bar button {
		font-size: 10px;
	}
}

@media (min-height: 300px) and (max-height: 350px) {
	.game-container {
		font-size: 12px;
	}

	.menu:not(.js-main-menu) > * {
		margin: 4px 0 4px 0;
	}

	.button-bar button {
		font-size: 10px;
	}
}

@media (min-height: 350px) and (max-height: 450px) {
	.game-container {
		font-size: 14px;
	}

	.menu:not(.js-main-menu) > * {
		margin: 6px 0 6px 0;
	}

	.button-bar button {
		font-size: 12px;
	}
}

@media (min-height: 450px) {
	.about-info {
		max-width: 600px;
	}
}
